@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$text: #fff;
$primary: #adefd1ff;
$secondary: #192633;

html,
body {
  background-color: $secondary;
  color: $text;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}

.carousel .thumbs-wrapper {
  margin: 0;
}
.thumbs-wrapper {
  margin: 0;
}

@media (max-width: 420px) {
  body {
    width: 100%;
  }
}
