.container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    font-size: 2em;
    span {
      background-image: linear-gradient(
        to right,
        #8400ff,
        #e400c1,
        #ff0080,
        #ff0047,
        #ff3d07
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span:hover {
        transition: all 600ms cubic-bezier(0, 0.94, 0.8, 1);
      }
    }

    p {
      margin: 10 auto;
      width: 100%;
      border-right: 0.15em solid rgb(255, 255, 254);
      white-space: nowrap;
      overflow: hidden;
    }

    p:nth-child(1) {
      -webkit-animation: type 2s steps(40, end);
      animation: type 3.5s steps(40, end);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    p:nth-child(2) {
      opacity: 0;
      -webkit-animation: type 2s steps(40, end);
      animation: type 3.5s steps(40, end);
      -webkit-animation-delay: 3.5s;
      animation-delay: 3.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }

    p:nth-child(3) {
      opacity: 0;
      -webkit-animation: type 5s steps(40, end);
      animation: type 3.5s steps(40, end);
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

// Typing animation Keyframes
@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
