$text: #fff;
$primary: #adefd1ff;
$secondary: #192633;
$dark: #131e29;

.container {
  height: 100vh;
  background-color: $dark;

  .title {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .underline {
      width: 150px;
      border: 1px solid $text;
    }
  }
  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;

    .card {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 90%;

      .outer {
        background-color: $primary;
        height: 55vh;
        .inner:nth-child(odd) {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background-color: $secondary;
          border: 1px solid $primary;
          left: 5%;
          top: 7%;
        }
        .inner :nth-child(even) {
          display: flex;
          position: relative;
          background-color: $secondary;
          border: 1px solid $primary;
          right: 5%;
          top: 7%;
        }
      }
      .description {
        background-color: $secondary;
        display: flex;
        margin-left: 100px;
        padding: 30px;
        font-size: 1.5em;
        width: 60%;
        border-radius: 15px;

        h2 {
          text-align: center;
          color: $primary;
        }

        p {
          width: 85%;
        }
        .tech {
          font-size: 1em;
          height: 100%;
          display: flex;
          flex-direction: column;
          list-style: none;
          color: $primary;
        }

        .tech > * {
          margin-top: 60%;
        }
      }
    }
  }
}
